{% extends "webFormat.html" %}
{% from "macros.html" import get_category %}

{% block main %}

<div class="col-12">
    <h1> Welcome to YourVideos.com</h1>
</div>
<div class="col-6 text-justify">
    <p>
        Welcome to YourVideos.com, your online repository of YouTube videos.
        Here you can see videos like on the famous platform; in addition you can check in each comment if it represent
        a spam comment or not, and in the last case know how much positive it is.
        In order to do so though you must train the system in the manage page; there you can also test manually a personalized message. <br />
        In the search bar you can actually search videos by title, but adding a simple '#' at the start will allow you to do a tag related search. <br />
        Enjoy our website!
    </p>
</div>
<div class="col-6 align-items-center">
    <img class="img-fluid mx-auto d-block" src="{{ url_for("static", filename="player_img.png") }}" />
</div>
<div class="col-12" id="home_videos">
    {% for row in home_content %}
    <div class="row justify-content-around">
        {% for video in row %}
        <div class="col-2 border border-dark rounded other_videos_cell">
            <a href="{{url_for("video", vid=video.link)}}" class="col-12 row">
                <div class="row align-items-center">
                    <span class="col-12 other_title">{{ video.title }} </span>
                    <span class="col-12 other_author">{{ video.author }} </span>
                    <span class="col-12 category">Category: {{ get_category(video.category) }}</span>
                    <span class="col-12">{{ video.views }} views</span>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>

{% endblock %}
