{% macro video_link(video, col_num) %}

<div class="row {{ col_num }} border border-dark rounded other_videos_cell">
    <a href="{{url_for("video", vid=video.link)}}" class="col-12 row">
        <span class="col-8 other_title">{{ video.title }} </span> <span class="col-4 text-right">{{video.views }} views</span>
        <span class="col-12 other_author">{{ video.author }}</span>
    </a>
</div>

{% endmacro %}

{% macro get_category(cat) %}
<span>
    {{
[
            "Film & Animation",
            "Autos & Vehicles",
            "", "", "", "", "", "", "",
            "Music",
            "", "", "", "",
            "Pets & Animals", "",
            "Sports",
            "Short Movies",
            "Travel & Events",
            "Gaming",
            "Videoblogging",
            "People & Blogs",
            "Comedy",
            "Entertainment",
            "News & Politics",
            "Howto & Style",
            "Education",
            "Science & Technology",
            "Nonprofits & Activism",
            "Movies",
            "Anime/Animation",
            "Action/Adventure",
            "Classics",
            "Comedy",
            "Documentary",
            "Drama",
            "Family",
            "Foreign",
            "Horror",
            "Sci-Fi/Fantasy",
            "Thriller",
            "Shorts",
            "Shows",
            "Trailers"
    ][cat - 1]
    }}
</span>
{% endmacro %}