{% extends "webFormat.html" %}

{% block main %}
<div class="col-6 row align-items-center">
    {% for notice in get_flashed_messages() %}
    <div class="col-9 mx-auto alert alert-info text-center align-self-start" role="alert">
        {{ notice }}
    </div>
    {% endfor %}

    <form class="col-12 row" method="post" action="{{ url_for("train_to_spam") }}">
        <input type="submit" class="col-4 mx-auto btn btn-outline-dark" value="Tain spam recognition" />
    </form>

    <form class="col-12 row" method="post" action="{{ url_for("train_to_analysis") }}">
        <input type="submit" class="col-4 mx-auto btn btn-outline-dark" value="Train sentiment analysis" />
    </form>

    <form class="col-12 row" method="post" action="{{ url_for("enable_tag_search") }}">
        <input type="submit" class="col-4 mx-auto btn btn-outline-dark" value="Train tag search" />
    </form>

    <form class="col-12 row" method="post" action="{{ url_for("enable_full_search") }}">
        <input type="submit" class="col-4 mx-auto btn btn-outline-dark" value="Train complete search" />
    </form>

</div>

<div class="col-6">
    <div class="row">
        {% if eval_res or system_not_trained %}
        <div class="col-6 mx-auto alert {% if system_not_trained %} alert-danger {% else %} alert-info {% endif %} text-center" role="alert">
            {% if system_not_trained %}
                The system is not trained yet, please train it before to test this feature
            {% else %} 
                 {{ eval_res.upper() }}
            {% endif %}
        </div>
        {% endif %}
    </div>
    <form action="{{ url_for("evaluate_sentence") }}" method="post">
        <div class="row">
            <div class="col-12 form-group">
                <label for="exampleFormControlTextarea1">Insert a sentence that will be evaluated</label>
                <textarea class="form-control" rows="10" name="text_rec"></textarea>
            </div>
        </div>
        <div class="row justify-content-end" id="test_user_train">
            <input type="submit" class="col-2 btn btn-outline-dark" value="Test">
        </div>
    </form>
</div>
{% endblock %}
