{% extends "webFormat.html" %}
{% from "macros.html" import video_link, get_category %}

{% block main %}

<div class="col-12">
    <h1> Search of: {{ search_text }} </h1>
    {% if category %}
    <h4> Category found: {{ get_category(category) }} </h4>
    {% endif %}
    <h4> {{ search_result|length }} related videos found </h4>
</div>

{% for video in search_result %}
{{ video_link(video, "col-7 mx-auto") }}
{% endfor %}

{% endblock %}
