{% extends "webFormat.html" %}
{% from "macros.html" import video_link, get_category %}

{% block main %}
<div class="col-8" id="video_and_comments">
    <div class="row col-12">
        <div class="mx-auto embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{video.link}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="row col-12 mx-auto" id="titolo_stat">
            <div class="row col-12 mx-auto">
                <span>{{ video.author }} published:</span>
            </div>
            <div class="col-9" id="titolo">
                <span> {{ video.title }} </span>
            </div>
            <div class="col-3 text-right" id="stat">
                <span class="likes"> {{ video.likes }} <i class="fas fa-thumbs-up"></i> </span>
                <span> {{ video.dislikes }} <i class="fas fa-thumbs-down"></i> </span>
            </div>
            <div class="col-12">
                <span class="category"> Category: {{ get_category(video.category) }} </span>
            </div>
            <div class="row col-12 mx-auto">
                <span> {{ video.views }} views </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            {% set spam_pres = "spam_res" in video.comments %}
            {% set sent_pres = "sent_res" in video.comments %}
            {% for comment in video.comments.index %}
            {% set single_comment = video.comments.loc[comment] %}
            <div class="row comment border-top border-bottom row_comments">
                <div class="col-2 align-self-center text-center">
                    {% if spam_pres %}
                    {% if single_comment.spam_res == 'spam' or not sent_pres %}
                    <span class="{% if single_comment.spam_res == 'spam' %} spam {% else %} piace {% endif %}">
                        {{ single_comment.spam_res }}
                    </span>
                    {% else %}
                    {% set perc = single_comment.sent_res %}
                    <span class="{% if perc >= 70 %} piace {% elif perc >= 40 and perc < 70 %} intermedio {% else %} non_piace {% endif %}">
                        {{ "{:.2f}%".format(perc) }} <br />
                        positivo
                    </span>
                    {% endif %}
                    {% endif %}
                </div>
                <div class="col-10">
                    <span class="user">User {{ loop.index }} writes: </span> </br>
                    <span>{{ single_comment.comment }}</span> </br>
                    <div class="text-right" style="font-size: 10pt">
                        {{ single_comment.likes }} <i class="fas fa-thumbs-up"></i>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>

<div class="col-4" id="other_videos">
    <div id="video_container">
        {% for other_vid in other_videos %}
        {{ video_link(other_vid, "col-12") }}
        {% endfor %}
    </div>
</div>
{% endblock %}