﻿<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>YourVideos.com</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="style.css") }}">

</head>
<body class="container-fluid">

    <nav class="row navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" id="web_title">YourVideos.com</a>
        <ul class="navbar-nav mr-auto">
            <li {% if request.path == "/" %} class="active" {% endif %} class="nav-item">
                <a class="nav-link" href="{{ url_for("home") }}">Home</a>
            </li>
            <li {% if request.path.startswith("/video") %} class="active" {% endif %} class="nav-item">
                <a class="nav-link" href="{{ url_for("random_video") }}">Video</a>
            </li>
            <li {% if request.path == "/manage" %} class="active" {% endif %} class="nav-item">
                <a class="nav-link" href="{{ url_for("manage") }}">Manage</a>
            </li>
        </ul>
        <form class="col-4 form-inline my-2 my-lg-0" method="get" action="{{ url_for("video_search") }}">
            <input class="col-9 form-control mr-sm-2" type="search" placeholder="Search videos (# for tag search)" aria-label="Search" name="search">
            <button class="col-2 btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>

    <main class="row">
        {% block main %}{% endblock %}
    </main>

</body>
</html>