main{
  margin-top: 1%;
  margin-bottom: 1%;
  font-family: sans-serif;
}

#titolo_stat{
  margin-top: 7pt;
  margin-bottom: 7pt;
}

#titolo span {
  font-size: 15pt;
  font-weight: 10pt;
}

#vis {
  font-size: 13pt;
  font-weight: 10pt;
}

#video_container{
  margin-right: 1%;
}

.likes {
  margin-right: 2%;
}

.user{
  font-size: 10pt;
  font-weight: bold;
}

.grad{
  font-size: 16pt;
  font-weight: bold;
}

.spam{
  font-size: 16pt;
  font-weight: bold;
  color: blue;
  text-transform: uppercase;
}

.comment{
  padding: 1%;
}

.other_title{
  font-size: 15pt;
  font-weight: bold;
}

.other_author{
  font-size: 13pt;
}

#sent_train{
  margin-top: 10%;
}
#test_user_train{
  margin-right: 1%;
}

.other_videos_cell{
  padding: 1%;
  margin-bottom: 2%;
}

.piace {
  color: green;
  text-transform: uppercase;
}

.non_piace {
  color: red;
  text-transform: uppercase;
}

.intermedio {
  color: orange;
  text-transform: uppercase;
}
